table, tr, td {
	border-collapse: collapse; 
    border: 1px solid grey;
  	width : 70% ;
}
th{
  background: #dc0;
}
a {
  color: blue; /* Цвет символа */
} 

.error {
  color: red; /* Цвет символа */
  font-size: 200%; /* Размер шрифта */
} 
p {
  color: rgb(49, 151, 116); /* Цвет текста */
}
